* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: rgba(158, 158, 158, .7);
	max-height: 600px;
}


.garageView {
	height: 600px;
	width: 100%;
	border: 1px solid black;
	overflow-y: scroll;
}

.door {
	position: absolute;
	z-index: 9;
	display: block;
	width: 100%;
	height: 600px;
	background-color: rgba(107, 109, 104, 0.94);
	border: 1px solid black;
	/*-webkit-transform: translateY(-900px);*/
}

.doorAction {
	
}

#toggleDoor {
	display: absolute;
	z-index: 10;
}



#submit-btn {
	border: none;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 90%;
	background-color: #fff;
	border: 1px solid #f2f2f2;
}

.header, .table {
	width: 100%;
}

.column-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.table {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.saved {
	width: 100%;	
	margin: 0 auto;
}

.card {
	width: 90%;
	height: 40px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	border-bottom: .75px solid #fff;
}

.headerTitle {
	width: 20%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 10px;
}

.counter {
	width: 50%;
	border: .25px solid #f2f2f2;
}

.title, .description {
	width: 20%;
	margin: 0;
	padding: 0 5px;
}

.overflow {
	overflow-y: scroll;
}

::-webkit-scrollbar {
 width: 0px;
 background: transparent;
}

.header {
	margin: 0 auto;
}

input {
	border: none;
}

.select {
	border-radius: 0;
}

.button {
	border: none;
}

#deleteBtn:hover {
 border: 1px solid red;
}

