* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: rgba(158, 158, 158, .7)
}

#submit-btn {
	border: none;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 90%;
	background-color: #fff;
	border: 1px solid #f2f2f2;
}

.header, .table {
	width: 100%;
}

.column-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.table {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.saved {
	width: 100%;	
	margin: 0 auto;
	/*border: 1px solid #fff;*/
}

.card {
	width: 90%;
	height: 24px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	border-bottom: .75px solid #fff;
}

.headerTitle {
	width: 20%;
	background-color: #fff;

}

.title, .description {
	width: 20%;
	margin: 0;
}

.header {
	margin: 0 auto;
}

input {
	border: none;
}

.select {
	border-radius: 0;
}

.button {
	border: none;
}

#deleteBtn:hover {
 border: 1px solid red;
}




