* {
	box-sizing: border-box;
}

body {
	background-color: rgba(158, 158, 158, .7)
}

#submit-btn {

}

.table {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.card {
	width: 90%;
	border: 1px solid red;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.title, .description {
	width: 20%;
	margin: 0;
	text-align: center;
}







